
[Unit]
Description="starts docker containers"
Requires=docker.service
After=network.target,docker.service

[Service]
Type=simple 
RemainAfterExit=true
WorkingDirectory=/root/docker-media-server
ExecStart=/usr/bin/docker compose up 
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0
Restart=always
[Install]
WantedBy=multi-user.target
